<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: powderblue;
      }

      p {
        color: brown;
        margin-left: 10px;

      }
    </style>
    <title>MyFirstApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
