// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  font-size:40px;
  font-weight: bold;
  font-family: "Mongolian Baiti";
  color: #8eb81f;
  text-align: left;
}
p{
  font-size:20px;

  font-family: "Mongolian Baiti";
  color: #935097;
  text-align: left;
}